{% extends 'base.html' %}
{% block content %}
<div class="row">
        <div class="col-sm-8">
        <p>
            <div class="float-left"><h3>List of {{title}}</h3></div>

        </p>

    <div class="table-responsive-sm">
    {% if dept_users %}
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
            {% for user in dept_users %}
                    <tr>
                        <td scope="row">
                            {{user}}
                            <span class="badge badge-default">{{user.email}}</span>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-primary" href="#">Assign</a>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p> There are no employees</p>
        {% endif %}
    </div>
</div>
{% endblock content %}